/* Variables */
:root {
  --blue0: #E5E9EB; /* Background color of the main area */
  --blue1: #99AAB2;
  --blue2: #4C5D66;
  --blue3: #192A33;
  --blue4: #040E10;
  --btn-width: 20%; /* Width of buttons & button content */
  --btn-height: 50px;
  --body-font-size: 1.25rem;
  --container-height: 80px; /* This will be overridden by javascript */
}

/* Global Resets */
html, body, button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Font Styling */
header, div, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: .04rem;
}

h1 {
  font-weight: 400;

}

/* Global paragraph styling */
p {
  float: left;
  padding: 3.8% 0;
  padding-right: 1rem;
}

a:hover {
  cursor: pointer;
}

/* Global Div Styling */
div {
  float: left;
  overflow: hidden;
  box-sizing: border-box;
}

/* Global Canvas Styling */
canvas {
  vertical-align: top;
  z-index: -1;
  cursor: crosshair;
}

/* Global Right Aligh */
.right {
  float: right;
}


/* Bottom Bar Container */
#ui-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: var(--container-height); /* initial height - will be set in javascript */
  background-color: var(--blue3);
}

/* Container For Entire UI Area */
#control-panel {
  float: left;
}

/* Bubble Tones Logo Area */
#logo-container {
  text-align: center;
  float: right;
  background-color: var(--blue4);
  height: 100%;
}

/* Text Logo/Link */
#logotext {
  padding: 25px 25px 0 25px;
  height: 100%;
}

#logotext:hover {
  cursor: pointer;
  background-color: var(--blue2);
}

/* Logo/Menu Button - Hidden by default */
#menu-button {
  display: none;
  background-image: url(../assets/images/menu-btn.svg);
}

/* Container for each UI element  */
.ui-group {
  float: left;
  display: inline-block;
  padding: 15px 25px;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/*********************
PLAY BUTTON
**********************/

/* General Button Styling */
.button {
    /*border: 1px solid var(--blue2);*/
    font-size: 60px;
    color: #fff;
    background-color: var(--blue2);
    background-size: 75%;
    bottom: 16px;
    width: var(--btn-height);
    height: var(--btn-height);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

/* Increase scale when clicked*/
.button:active {
    /*transform: scale(1.1);*/
}

/* Hide the inactive button */
.btn-inactive {
  display: none;
}

/* Play Button */
#play-button {
    background-image: url(../assets/images/play-btn.svg);
}

/* Play Button */
#pause-button {
    background-image: url(../assets/images/pause-btn.svg);
}

/*********************
SEGMENTED CONTROLS
**********************/

/* General Segmented Control */
.segmented-control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: var(--btn-height);
}

.segmented-control input[type=radio] {
  display: none;
}

.segmented-control label {
  border: 1px solid var(--blue2);
  padding: 11px 30px;
  margin-right: -1px;
  background: none;
  cursor: pointer;
  color: var(--blue1);
}

.segmented-control input:checked + label {
  border: 1px solid var(--blue2);
  background: var(--blue2);
  color: white;
}


/*********************
SLIDER
**********************/

/* Container for slider labels */
.label-box {
  height: 100%;
  height: var(--btn-height);
  padding-top: 10px;
}

/* Font Stling for slider label  */
p.slider-label {
  padding: 0;
  margin: 0;
  color: var(--blue1);
}

/* Container for slider control */
.slider-box {
  padding: 10px 1.25rem 0 1.25rem;

  height: var(--btn-height);
  /*min-width: 15rem;*/
}

input[type=range] {
  -webkit-appearance: none;
  float: left;
  display: block;
  width: 100%;
  position: relative;
  top: 31%;
  transform: translateY(-50%);
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background-color: var(--blue2);
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 1px 1px 1px var(--blue0);*/
  border: 1px solid white;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  background-color: var(--blue2);
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  /*box-shadow: 1px 1px 1px var(--blue2);*/
  border: 1px solid white;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  background-color: var(--blue2);
  cursor: pointer;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  /*box-shadow: 1px 1px 1px var(--blue2);*/
  border: 1px solid white;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

/*********************
INFO PANEL
**********************/

/* Main Info Panel Container */
#info-panel {
  display: none;
  float: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  min-height: 100vh;
  opacity: 0.90;
  padding: calc(var(--container-height) + 10px);
  z-index: 1;
  background-color: var(--blue3);

}

/* Close Button Style */
#close-button {
  position: fixed;
  width: var(--container-height);
  height: var(--container-height);
  top: 0;
  right: 0;
  background-image: url(../assets/images/close-btn.svg);
  background-size: var(--container-height) var(--container-height);
  z-index: 2;
  background-color: var(--blue4);
  text-align: center;
  background-position: center;
}

#close-button:hover {
  background-color: var(--blue2);
  cursor: pointer;
}

.info-content {
  width: 100%;
  max-width: 800px;
}

/* Info Panel Content */
p.info-panel {
  padding: 0;
  line-height: 170%;
  margin-bottom: 3rem;
  display: block;
  float: none;
  font-size: 1.5rem;
  font-weight: 400;
}

p.header {
  margin: 0 0 1rem 0;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

a.main-link {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: #FFFC31;
}

a.main-link:hover {
  color: white;
}

/******************************************
RESPONSIVENESS -- SMALLER SCREENS
*******************************************/

@media only screen and (max-width: 1200px) {
  /* Descrease height of buttons */
  :root {
    /*--btn-height: 50px;*/
  }

  /* Decrease padding between control areas */
  .ui-group {
    padding: 15px 10px 15px 20px;
  }

  /* Decrease padding in logo box */
  .logotext {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Decrease button padding */
  .segmented-control label {
    padding: 8px 24px;
  }

  /* decrease width of slider track */
  .slider-box {
    min-width: 10rem;
  }

  /* descrease size of slider thumb and push down */
  input[type=range]::-webkit-slider-thumb {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: -8px;
  }

  /* decrease font size of info panel content */
  p.info-panel {
    font-size: 1.25rem;
  }

}

/******************************************
RESPONSIVENESS -- SMALLEST SCREENS
*******************************************/

@media only screen and (max-width: 1000px) {

  /* Minimize and move UI Container */
  #ui-container {
    width: auto;
    height: auto;
    background-color: initial;
    bottom: 0;
    right: 0;
    padding: 0 20px 20px 0;
  }

  /* Remove float from control panel  */
  #control-panel {
    float: none;
  }

  /* Hide Non-Play Button Controls */
  #key-control, #scale-control, #tempo-control {
    display: none;
  }

  /* Move logo container */
  #logo-container {
    float: none;
    background-color: initial;
    height: auto;
    padding: 1px
  }

  /* Hide Logo Text*/
  #logotext {
    display: none;
  }

  /* Show Logo/Menu Button */
  #menu-button {
    display: block;
  }

  /* Adjust button size settings */
  .button {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    box-shadow: -1px 1px 4px 0px var(--blue1);
  }

  /* Remove padding of controls container */
  .ui-group {
    padding: 1px;
  }

  /* Decrease padding of info panel */
  #info-panel {
    opacity: 0.95;
    padding: 30px;
    width: 100%;
    padding: 30px 30px 0 30px;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  /* Redesign close button to look more like other buttons*/
  #close-button {
    width: 60px;
    height: 60px;
    top: initial;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
    border-radius: 50%;
    background-size: 75%;
    background-repeat: no-repeat;
    /*box-shadow: -1px 1px 4px 0px var(--blue2);*/
  }
}

/******************************************
RESPONSIVENESS -- SMALLEST SCREENS
*******************************************/

@media only screen and (max-width: 600px) {

  /* Decrease padding */
  #ui-container {
    padding: 0 10px 10px 0;
  }

  /* Decrease top margin */
  .button {
    margin-top: 10px;
  }

  /* Decrease spacing of button position */
  #close-button {
    margin: 0 10px 10px 0;
  }

  /* Decrease margin of info panel paragraphs */
  p.info-panel {
    margin-bottom: 2rem;
  }
}
