/// ===========================================
// LINKS
// ===========================================

// GLOBAL LINK STYLE
a {
  color: $black;
  text-decoration: none;
  border-bottom: 2px solid $primary-color;

}

a:hover {
  color: $primary-color;
}

a:visited {
  // color: $primary-color;
}
