/// ===========================================
// LINKS
// ===========================================

// GLOBAL LINK STYLE
a {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $black;

}

a:hover {
  // border-bottom: 1px solid $primary-color;
  border: none;
  opacity: $hover-opacity;
}

a:visited {
  color: $black;
}
