/**************************************
TYPOGRAPHY & SIZING
**************************************/

$base-font-size:         16px !default;

// FONT WEIDGHTS
$font-weight-heavy:      700 !default;
$font-weight-normal:     400 !default;

// MEGA - USED FOR BIG ONBOARDING HINT
$mega-font-size:         2.5rem !default;

// HEADLINE
$headline-font-size:      1.5rem !default;
$headline-line-height:    2rem !default;

// CONTENT
$content-font-size:       1.125rem !default;
$content-line-height:     1.75rem !default;
$content-max-width:       38rem !default;

// CONTROL BUTTON LABELS
$ui-label-font-size:      .9375rem !default;
$ui-label-font-size-sm:   .8125rem !default;
$ui-label-line-height:    1.25rem !default;

// CONTROL BUTTON TYPE
$ui-type-size:            0.875rem !default;
$ui-line-height:          1rem !default;


/**************************************
GRIDS AND SPACING
**************************************/

// GLOBAL SPACING UNIT
$spacing-unit: 1rem;

// GLOBAL PADDING
$global-container-side-padding: 2.5rem;

// CONTENT
$content-max-width:         38rem !default;

// CONTROL BAR
$control-bar-height:         6rem !default; // Max height of control bar
$controls-max-width:        72rem !default;

// CONTROLS
$controls-max-height:       4rem !default;  // height of control + label
$controls-height:           2.75rem !default; // height of each control
$controls-height-sm:        2.5rem !default; // height of each control
$primary-btn-size:          4rem !default; // HEIGHT OF PRIM BUTTON ONLY

/**************************************
COLOR PALETTE
**************************************/

// BACKGROUND COLORS
$bgColor-0:     #F8F9FC !default;
$bgColor-1:     #E3E6F2 !default;

// GRAYSCALE
$white:         #FFFFFF;
$gray-1:        #F6F7F9;
$gray-2:        #D8DCE4;
$gray-3:        #ABB1BD;
$gray-4:        #5E6778;
$gray-5:        #3A404A;
$black:         #191B1F;

// GLOBAL HOVER OPACITY VALUE
$hover-opacity: 0.5;

/**************************************
ANIMATION BEHAVIORS
**************************************/

$animate-time-fast:     0.15s !default;
$animate-time-slow:     0.35s !default;

/**************************************
STYLING
**************************************/

$btn-border-radius: 0.25rem;

/**************************************
RESPONSIVE BREAKPOINTS
**************************************/

$bp-600: 37.5rem; // 600px
$bp-736: 46rem;   // 736px

$bp-1: 37.5rem; // 600px
$bp-2: 54rem; // 864px
