/*
 ALL INTERACTIVE CONTROLS
*/

// ===========================================
// GLOBAL SETTINGS
// ===========================================

// GLOBAL STYLE FOR ALL CONTROL BUTTONS
input, button {
  // LAYOUT
  height: $controls-height;

  // APPEARANCE
  font-size: $ui-type-size;
  line-height: $ui-line-height;
  font-family: inherit;
}

// ===========================================
// GLOBAL BUTTON STYLES
// ===========================================

// DEFAULT BUTTON STYLES
button {
	// LAYOUT
  height: $default-btn-size;
  width: $default-btn-size;
	display: inline-block;
	-webkit-appearance: none;
  -moz-appearance: none;
	margin: 0;

	// APPERANCE
  background-color: $white;
	border: 4px solid $primary-color;
	text-align: center;
	text-decoration: none;
  @include padding(0, 1.25);
  @include border-radius($btn-border-radius);
  @include btn-shadow;

	// BEHAVIOR
  // @include transition(background $animate-time-fast ease-in-out);
}

button:hover {
  // APPEARANCE
  cursor: pointer;
  opacity: 0.9;
  box-shadow: none;
}

button:focus {
  // background-color: $gray-2;
}

button > * {
  pointer-events: none;
}

// ROUND ICON BUTTONS
button.round {
  // APPEARANCE
  @include border-radius(50%);
  @include padding(0, 0);
  // BACKGROUND ICON
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: center;
}

// ===========================================
// PRIMARY CONTROL BUTTON STYLES
// ===========================================

.primary-button {
  // LAYOUT
  height: $primary-btn-size;
  width: $primary-btn-size;
  // BACKGROUND ICON
  background-size: 1.5rem !important;
}

// ===========================================
// BUTTON ASSETS
// ===========================================

// PLAY BUTTON ICON
.play-btn {
  // ICON
  background-image: url(../assets/img/icons/play-btn.svg);
}

// UNMUTE BUTTON ICON
.pause-btn {
  // ICON
  background-image: url(../assets/img/icons/pause-btn.svg);
}

.about-btn {
  //ICON
  background-image: url(../assets/img/icons/about.svg);
}

// ===========================================
// TEXT BUTOTNS (LOOK LIKE LINKS)
// ===========================================

.text-button {
  // LAYOUT
	display: block;
  height: $content-line-height;
	// APPERANCE
	border: none;
  background: none;
  box-shadow: none;
	text-align: left;
  @include border-radius(0);
  border-bottom: 1px solid $primary-color;
  padding: 0;
  // TEXT
  font-size: $content-font-size;
  line-height: $content-line-height;
  color: $primary-color;
}

.text-button:hover {
  // APPEARANCE
  cursor: pointer;
  background-color: $white;
  border-bottom: none;
}

.text-button:focus {
  // APPEARANCE
  background-color: $white;
}

// ===========================================
// GLOBAL CLOSE BUTTON
// ===========================================

button.close-btn {
  // LAYOUT
  position: absolute;
  top: 1.25rem;
  right: 3rem;
  // ICON
  background-image: url(../assets/img/icons/close.svg);
  // SMALLEST SCREENS
  @include bp1 {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

// ===========================================
// TOGGLE GROUP
// ===========================================

// TOGGLE BUTTONS BEHAVIOR
div.toggle-group {
	// FLEX CONTAINER STYLES
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
}

// TOGGLE BUTTON MODIFICATION
button.toggle {
  // APPEARANCE
	color: $black;
  // border: 0.25rem solid $gray-1;
  // margin-right: 0.25rem;
  @include border-radius(0);
  &:first-child {
    @include border-radii($btn-border-radius, 0, 0, $btn-border-radius);
  }
  &:last-child {
    @include border-radii(0, $btn-border-radius, $btn-border-radius, 0);
  }
  // FLEX ITEM STYLES
  @include flex(1);
}

button.toggle:hover {
	background-color: $gray-2;
}

// ACTIVE CLASS FOR THE SELECTED BUTTON
button.toggle.selected {
	background-color: $primary-color;
	color: $white;
}


// ===========================================
// SLIDER
// ===========================================

// RANGE SLIDER
input[type=range] {
	@include input-type-range;
  margin: 0;
}

// GROUP FOR SLIDER LABEL AND READOUT
.slider-info-container {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
}

// RGB SLIDER VALUE READOUT
.slider-readout {
  margin-left: $spacing-unit / 2;
}
