/*------------------------------------*\
  #TABBING CLASSES
\*------------------------------------*/

// REMOVE FOCUS WHEN USER IS USING MOUSE
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

// DEFAULT BUTTON STYLES
.btn {
  background-color: $btn-fill-color;
  border: 0.125rem solid $btn-border-color;
  @include global-box-shadow;
  @include border-radius($btn-border-radius);
  cursor: pointer;
	display: inline-block;
  height: $controls-height;
  margin: 0;
  -moz-appearance: none;
  padding: 0.75rem 1rem;
  text-align: center;
	text-decoration: none;
	-webkit-appearance: none;
  @include transition(background-color $animate-time-fast ease);
}

.btn:hover, .btn:focus {
  // opacity: 0.85;
  background-color: $btn-fill-color--hover;
}


.btn > * {
  pointer-events: none;
}

.btn--cta {
  background-color: transparent;
  border-color: $white;
  height: $primary-btn-size;
  margin: 2rem 0 1rem;
  @include transition(all $animate-time-fast ease-in-out);
  width: 90%;

  &:hover {
    background-color: transparent;
    letter-spacing: 4px;
    opacity: 0.95;
    @include transform(scale(1.025));
  }

  @include bp($bp-1) {
    width: 100%;
  }
}

// MODIFIER FOR ICON-ONLY BUTTONS
.btn--icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  @include border-radius(50%);
  padding: 0;
  width: $controls-height;
}

// MODIFIER FOR PRIMARY CONTROL
.btn--primary {
  height: $primary-btn-size;
  width: $primary-btn-size;
}

// TOGGLE BUTTON MODIFICATION
.btn--toggle {
  @include border-radius(0);
  border-left: none;
  box-shadow: none;
  @include flex(1);

  &:first-child {
    @include border-radii($btn-border-radius, 0, 0, $btn-border-radius);
    border-left: 0.125rem solid $btn-border-color;
  }

  &:last-child {
    @include border-radii(0, $btn-border-radius, $btn-border-radius, 0);
  }
}

.btn--toggle:focus {
  z-index: 1;
}

// ACTIVE CLASS FOR THE SELECTED BUTTON
.btn--toggle-selected, .btn--toggle-selected:hover, .btn--toggle-selected:focus {
	background-color: $btn-fill-color--active;
  opacity: 1;
}


/*------------------------------------*\
  #SLIDER
\*------------------------------------*/

.range-slider {
	@include input-type-range;
  margin: 0;
}



/*------------------------------------*\
  #BUTTON ICONS
\*------------------------------------*/

.btn--clear { background-image: url(../assets/icons/clear.svg); }
.btn--close { background-image: url(../assets/icons/close.svg); }
.btn--info { background-image: url(../assets/icons/help.svg); }
.btn--random-off { background-image: url(../assets/icons/random-unselected.svg); }
.btn--random-on { background-image: url(../assets/icons/random-selected.svg); }
.btn--refresh { background-image: url(../assets/icons/refresh.svg); }
.btn--pause { background-image: url(../assets/icons/pause.svg); }
.btn--play { background-image: url(../assets/icons/play.svg); }
