/*------------------------------------*\
  ONBOARDING SCREEN
\*------------------------------------*/

.onboarding {
  @include align-items(center);
  background-color: $col-pink;
  @include flexbox;
  @include flex-flow(column nowrap);
  height: 100vh;
  @include justify-content(center);
  opacity: 1;
  overflow: auto;
  padding: 1rem;
  position: absolute;
  @include transition(opacity $animate-time-fast linear);
  @include transition(visibility $animate-time-fast linear);
  visibility: visible;
  width: 100%;
  z-index: 100;
}

// VISIBILITY MODIFIER
.onboarding--hidden {
  opacity: 0;
  pointer-events: none;
  @include transition(all 0.10s linear);
  visibility: hidden;
}

.onboarding__content-container {
  max-width: $content-max-width;
  width: 100%;
}



/*------------------------------------*\
  CANVAS CONTAINER
\*------------------------------------*/

// CONTAINER THAT HOLDS TONE BLOCKS AND TONE ORBS
#main-container {
  // SET HEIGHT
  height: calc(100vh - #{$control-bar-height});
}

// GLOBAL CANVAS STYLES
canvas {
  vertical-align: top;
}


/*------------------------------------*\
  CONTROL BAR
\*------------------------------------*/

// GLOBAL CONTROL BAR CONTAINER
.control-bar {
  border-top: 2px solid $gray-4;
  @include flexbox;
  @include flex-flow(column nowrap);
  height: $control-bar-height;
  @include justify-content(center);
  padding: 0 1rem;
  width: 100%;
}

.control-bar__inner-container {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
  margin: 0 auto;
  max-width: $controls-max-width;
  max-height: $controls-max-height;
  width: 100%;
}


// CONTAINER FOR EACH CONTROL
.control-bar__control-container {
  // LAYOUT
  flex: 1;
  margin-left: 2rem;
  &:first-child {
    margin-left: 0;
  }
  width: 100%;

  @include bp1 {
    width: auto;
    margin-left: 1rem;
  }
}

// MODIFY BUTTON CONTAINERS TO NOT STRETCH
.control-bar__control-container--btn {
  @include flex(0);
  text-align: center;
}

.control-bar__control-label-container {
  margin-bottom: 0.25rem;
}

.control-bar__control-label-container--with-readout {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
}

.control-bar__control {
  height: $controls-height;
}

// MODIFIER FOR HEIGHT OF PRIMARY CONTROL
.control-bar__control--primary {
  height: 100%;
}

// MODIFIER FOR GROUP OF TOGGLE BUTTONS
.control-bar__control--toggle-group {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
}

// MODIFIER FOR VERTICALLY CENTERING CONTROL
.control-bar__control--ctrY {
  @include flexbox;
  @include flex-flow(column nowrap);
  @include justify-content(center);
}


/*------------------------------------*\
  #ABOUT CONTENT
\*------------------------------------*/

// FULL SCREEN MODAL STYLE
.about {
  background-color: $bgColor-0;
  height: 100%;
  left: 0;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  @include transition(opacity $animate-time-fast linear);
  @include transition(visibility $animate-time-fast linear);
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

// MOIFIER TO MAKE MODAL VISIBLE
.about--visible {
  opacity: 0.99;
  pointer-events: auto;
  @include transition(visibility $animate-time-fast linear);
  @include transition(opacity $animate-time-fast ease-in);
  visibility: visible;
}

.about__close-btn-container {
  position: fixed;
  right: 3rem;
  top: 1.25rem;

  @include bp1 {
    top: 1rem;
    right: 1rem;
  }
}

.about__content-container {
  margin: 0 auto;
  max-width: $content-max-width;
  padding: 5rem 1.5rem;
  width: 100%;
}

.about__content-section {
  // LAYOUT
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}
