/*------------------------------------*\
  CSS RESET
  https://alligator.io/css/minimal-css-reset/
\*------------------------------------*/

html {
  background-color: $bgColor-0;
  box-sizing: border-box;
  color: $black;
  font-size: $base-font-size;
  font-family: 'Barlow', sans-serif;
  font-weight: $font-weight-normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  display: block;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}
