/*------------------------------------*\
  TYPE
\*------------------------------------*/

h1, h2, h3 {
  font-size: $font-size-32;
  margin-bottom: 1rem;
}

h3 {
  font-weight: $font-weight-normal;
}

h4 {
  font-size: $content-font-size;
  line-height: 1.45;
  @include bp1 {
    font-size: $content-font-size-sm;
    line-height: 1.45;
  }
}

p {
  font-size: $content-font-size;
  line-height: 1.45;
  margin-bottom: calc(1.45 * #{$content-font-size});

  @include bp1 {
    font-size: $content-font-size-sm;
    line-height: 1.45;
    margin-bottom: calc(1.45 * #{$content-font-size-sm});
  }

  &:last-child, &:only-child {
    margin-bottom: 0;
  }
}

// CONTROL LABELS
.control-bar__control-label, .control-bar__control-readout {
  font-size: $control-label-font-size;
  font-weight: $font-weight-heavy;
  letter-spacing: 0.25px;
  line-height: $control-label-line-height;
  vertical-align: top;
}

// BUTTON TEXT
.btn-label {
  color: $btn-text-color;
  font-family: inherit;
  font-size: $btn-font-size;
  font-weight: $font-weight-heavy;
  letter-spacing: 0.25px;
  line-height: $btn-line-height;
}

.btn-label--cta {
  color: $white;
  font-size: $font-size-18;
  letter-spacing: inherit;
  line-height: 1;
  text-transform: uppercase;
}

// GLOBAL FONT COLOR MODIFIER
.col--white { color: $white; }
